/* Style the button inside the input container */
.loginButton {
    padding: 0.8rem 2rem;
    margin-top: 8px;
    margin-right: 16px;
    background: #2a7e91;
    font-size: 1.6rem;
    border: none;
    cursor: pointer;
    color:azure;
    height:auto;
    font-weight: 500;
    display:inline-block;
    cursor: pointer;
    border-radius: 6px;
    overflow: hidden;
  }
